
.center {
    text-align: center;
}
#genbutton {
    margin-right: 1em;
    margin-left: auto;
    margin-bottom: 1em;
}
.main-container {
    height: 80%;
}
.blue-background {
    background: #f7f7f7;
}
.greenish {
    background: #ecffee;
}
.info-section {
    background: #ecf0f1;
    width: 50%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.gray-border {
    border: 1px solid black;
    border-radius: 20px;
}
.info {
    margin: 1em;
    margin-top: 0.5em;
    color: #2c3e50;
}

.example {
    margin: 1em;
    margin-top: 0;
}
.bigger {
    font-size: 1.2em;
    font-weight: bold;
}

.thumbs {
    font-size: 1.2em;
    color:black;
}

.feedback {
    text-align: right;
    margin-right:1em;
}

.related {
    margin-bottom: .5em;
}
.related:hover {
    background-color: #e2dfdf;
}

#response {
    width: 100%;
}

.no-mg-top {
    margin-top: 0;
}

.not-button {
    width: 100%;
    text-align: left;
}

.not-link {
    color: black;
}
.not-link:hover{
    text-decoration: none;
}

.button:focus {
    outline: none!important;
}
.thumbs {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.thumbs:hover {
    cursor: pointer;
}