
.center {
    text-align: center;
}
#genbutton {
    margin-right: 1em;
    margin-left: auto;
    margin-bottom: 1em;
}
.main-container {
    height: 80%;
}
.blue-background {
    background: #ecf0f1;
}
.info-section {
    background: #ecf0f1;
    width: 50%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.gray-border {
    border: 1px solid darkgray;
    border-radius: 20px;
}
.info {
    margin: 1em;
    margin-top: 0.5em;
    color: #2c3e50;
}

.example {
    margin: 1em;
    margin-top: 0;
}
.bigger {
    font-size: 1.2em;
    font-weight: bold;
}

.thumbs {
    font-size: 1.2em;
    color:black;
}

.feedback {
    text-align: right;
    margin-right:1em;
}

