.center {
  text-align: center;
}
.btn {
  color: white;
}
.btn:hover {
  color: white;
}
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
.info-section {
  background: #7f4e26;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
.gray-border {
  border: 1px solid black;
  border-radius: 20px;
}
.info {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  color: white;
}
.egg {
  height: 70%;
  margin-top: 30%;
}
.row-main {
  height: 20em;
}
.normal-height {
  height: 100%;
}
.border {
  border-color: black !important;
}
.brown-bg-border {
  background-color: #525252 !important;
  border-color: black !important;
}

.link {
  color: #fff;
}
.link:hover {
  color: #fff;
}
